<template name="Menu_preview">
  <div class="preview">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7 col-5">
        <h2>View Menu</h2>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-7">
        <br />
        <select class="date-select pull-right">
          {{#each menus}}
          {{#if default}}
          <option selected>{{readableDate}}</option>
          {{else}}
          <option>{{readableDate}}</option>
          {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
    <hr />
    <div>
      <button class="edit"><i class="fas fa-pen"></i> &nbsp;Edit</button>
    </div>
    <div class="clearfix"></div>
    <div class="lg">
      <table>
        <ul>
          {{#each days}}
          <tr class="day">
            <td colspan="3">{{ label }}</td>
          </tr>
          <tr>
            <th>Breakfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
          </tr>
          <tr>
            <td>
              <ul>
                {{#each breakfast date}}
                <li class="meal-title">{{meal}}</li>
                {{/each}}
              </ul>
            </td>
            <td>
              <ul>
                {{#each lunch date}}
                <li class="meal-title">{{meal}}</li>
                {{/each}}
              </ul>
            </td>
            <td>
              <ul>
                {{#each supper date}}
                <li class="meal-title">{{meal}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
          <br>
          {{/each}}
        </ul>


      </table>
    </div>
    <div class="xs">
      <div class="table">
        <div class="day">
          Monday
        </div>

        <div class="row">
          <div class="col-3">
            Breakfast
          </div>
          <div class="col-9">
            <ul>
              <li>Sausages</li>
              <li>Chicken Sandwitch</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Lunch
          </div>
          <div class="col-9">
            <ul>
              <li>Chapati + Grilled chicken salad</li>
              <li>Chicken Biryani</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Dinner
          </div>
          <div class="col-9">
            <ul>
              <li>Viazi karai</li>
              <li>Mukimu + Goat meat</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="day">
          Tuesday
        </div>

        <div class="row">
          <div class="col-3">
            Breakfast
          </div>
          <div class="col-9">
            <ul>
              <li>Sausages</li>
              <li>Chicken Sandwitch</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Lunch
          </div>
          <div class="col-9">
            <ul>
              <li>Chapati + Grilled chicken salad</li>
              <li>Chicken Biryani</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Dinner
          </div>
          <div class="col-9">
            <ul>
              <li>Viazi karai</li>
              <li>Mukimu + Goat meat</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="day">
          Wednesday
        </div>

        <div class="row">
          <div class="col-3">
            Breakfast
          </div>
          <div class="col-9">
            <ul>
              <li>Sausages</li>
              <li>Chicken Sandwitch</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Lunch
          </div>
          <div class="col-9">
            <ul>
              <li>Chapati + Grilled chicken salad</li>
              <li>Chicken Biryani</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Dinner
          </div>
          <div class="col-9">
            <ul>
              <li>Viazi karai</li>
              <li>Mukimu + Goat meat</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="day">
          Thursday
        </div>

        <div class="row">
          <div class="col-3">
            Breakfast
          </div>
          <div class="col-9">
            <ul>
              <li>Sausages</li>
              <li>Chicken Sandwitch</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Lunch
          </div>
          <div class="col-9">
            <ul>
              <li>Chapati + Grilled chicken salad</li>
              <li>Chicken Biryani</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Dinner
          </div>
          <div class="col-9">
            <ul>
              <li>Viazi karai</li>
              <li>Mukimu + Goat meat</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table">
        <div class="day">
          Friday
        </div>

        <div class="row">
          <div class="col-3">
            Breakfast
          </div>
          <div class="col-9">
            <ul>
              <li>Sausages</li>
              <li>Chicken Sandwitch</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Lunch
          </div>
          <div class="col-9">
            <ul>
              <li>Chapati + Grilled chicken salad</li>
              <li>Chicken Biryani</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Dinner
          </div>
          <div class="col-9">
            <ul>
              <li>Viazi karai</li>
              <li>Mukimu + Goat meat</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>