blockquote{
  width: 95%;
  display: block;
  background: rgba(255,255,255,0.6);
  color: $black;
  padding: 10px;
  margin: 5px !important;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
