.admin-rate{

  .top-options{
  // margin: 20px;
  }

  .right-main .main-section{
    overflow: auto;
  }

  .btn-grp{
    button{
      border:1px solid $white;
      background: transparent;
      padding: 5px 7px 7px;
      font-size: 0.9em;
      height: auto !important;
      margin: 0 !important;
      width:49%;
      overflow: hidden;
    }

    .left{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      float: left;
    }

    .right{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      float:left;
    }

    .active{
      background-image: $grubbie_gradient;
    }
  }

  #ratings-canvas-cont{
    margin: auto;
    max-width: 100%;
    width: 400px;
  }

  .xs{
    display: none;

    label{
      margin-top: 5px;
      display: block;
    }
  }

  @media screen and (max-width:768px){
     .right-main{
       padding: 0;
     }

     .lg{
       display: none;
     }
     .xs{
       display: flex;
     }

     .top-options .xs label{
       margin-top: 12px;
     }
  }

}

.rounded-container .rate-text input {
  padding: 5px;
  width: 110%;
  margin-top: 3px;
}
.stars {
  margin-top: 5px;


}
.sta:hover {
  color: yellow;

}

.fa{
  color:white;
}

.yellow {
  color: yellow;
}


.ratesubmit {
  border-radius: 1px;
  max-width: 55px;
}


.rate-wrapper{
  width: 80%;
  margin-bottom: 25px;
  padding-right: 20px;
  border-radius: 120px;
  display: flex;
  align-content: center;
}


.meal-title{
  text-transform: capitalize;
  font-weight: 900;
  padding-left: 0;
}

.rate-text{
  margin-top:10px;
    padding-left: 10px;

  div{
    padding-left: 10px;
  }
  .future-rating{
    font-style: italic;
  }
    .comments{
      margin: 5px 0;
    }
}

@media screen and (max-width: 767px){
  .rounded-container .rate-wrapper {
      width: 100%;
  }
}

.rate-input{

  margin: 0;
  width: auto;

  input[type="text"]{
    width:80%;
  }

  button{

    width: 40px;
    background: transparent;
    border:0;
    margin:0;

    i{
      font-size: 20px;
      vertical-align: bottom;
      color:$success;
    }

  }

  button:hover{
    background: transparent;
    border:0;
    cursor: pointer;

    i{
      color:$white;
    }

  }

}

.ratings-list{
  margin: 10px;
  border-top: 1px solid rgba(255,255,255,0.2);

  .rating{
    margin:10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width:100%;
  }
}
