//Colors

$black: #000;
$white: #fff;
$school_bus_yellow:#FFDA00;
$outrageous_orange:#FF5733;
$gradient_yellow:#CAAD08;
$grubbie_gradient: linear-gradient($gradient_yellow,#B85A3F);
$sweet-brown:#B85A3F;
$success:#5CB85C;
$warning:#F0AD4E;
$danger:#D9534F;

// Dimensions
$gradient : linear(60deg, $school_bus_yellow, $outrageous_orange);
// min-width
$tablet: 650px;
$desktop: 900px;

html{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  html{
    background-image: url('/images/background_lg.jpg');
  }
}


@media only screen and (max-width: 767px) {
  html{
    background-image: url('/images/background_sm.jpg');
  }
}

body{
  color: white;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  margin: 0;
  border:0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  top:0;
  clear: both;

  #content-container{
    width: auto;
    margin: 5vh 2vw;
    padding: 5vh 5vw;
    background: rgba(0,0,0,0.5);
    min-height: 80vh;
    border-radius: 15px;
  }

  @media only screen and (max-width: 767px) {

    #content-container{
      margin: 0 !important;
      border-radius: 0 !important;
    }

  }

  .no-bg{
    background: transparent !important;
  }

  %overlay-props{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: -100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #body-overlay {
    @extend %overlay-props;
    background-color: rgba(0,0,0,0.2); /* Black background with opacity */
    z-index: -10000; /* Specify a stack order in case you're using a different order for other elements */
  }

  #grubbie-gradient{
    @extend %overlay-props;
    background-image: $grubbie_gradient;
    z-index: -9000; /* Specify a stack order in case you're using a different order for other elements */
  }

}

h1{
  text-align: center;
}

hr{
  border: 1px solid $white;
}

/* Start of small elements */

%clearfix{
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.clearfix:after, footer:after {
  @extend %clearfix;
}

%btn{
  padding: 5px 10px;
  margin: 0 5px;
  border:0px;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  text-decoration:none;
  text-align: center;
  color: #fff;
  height: auto !important;
  border-radius: 25px;
  width: 100px !important;
}

.btn-success{
  @extend %btn;
  background-color: $success;
}

.btn-warning{
  @extend %btn;
  background-color: $warning;
}

.btn-danger{
  @extend %btn;
  background-color: $danger;
}

.round-btn-danger{
  @extend %btn;
  background-color: $danger;
  border-radius: 25px;
  font-size: 0.8em;
  font-weight: normal;
  padding: 12px 30px;
}

.btn-circ{
  border: 1px solid $white;
  border-radius: 25px;
  padding: 5px 20px;
  height: auto;
  width: 100%;
  font-size: 1em;
  font-weight: 600;
  margin: 2px;
  background: transparent;
  color:$white;
  text-decoration: none;
}

.btn-circ.active{
  background-image: $grubbie_gradient;
}

.arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $gradient_yellow;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid $gradient_yellow;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid $gradient_yellow;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid;
  border-right-color: $gradient_yellow;
  left:-45px;
  position: absolute;
}

%circ{
  border: 0;
  height: 25px;
  width: 25px;
  text-align: center;
  padding-top: 3px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  color:$white;
}

.circ-success{
  @extend %circ;
  background-color: $success;
}

.circ-danger{
  @extend %circ;
  background-color: $danger;
}

.circ-warning{
  @extend %circ;
  background-color: $warning;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.pull-right{
  float:right;
}

/* End of small elements */

/* Start of major components */

.header-container{
  width: 100%;

  h1{
    text-align: left;
  }
}



.gmail-container{
  width: 100%;
  margin:50px auto;


  label{
    font-weight: 900;
  }


  select{
    background: transparent;
    border:none;
    padding: 5px;
    margin: 7px 0 5px;
  }


  @media only screen and (min-width: 577px) {

    .left-menu{
      padding-top: 50px;
    }
  }

  .left-menu{
    height: 100%;
    overflow: hidden;


    @media only screen and (min-width: 577px) {
      .xs{
        display: none;
      }
      .lg{
        display: block;
      }

    }

    @media only screen and (max-width: 576px) {
      .xs{
        display: block;
      }
      .lg{
        display: none;
      }

      .description{
        margin-top:5px;
      }

      .dark{
        background: rgba(0,0,0,0.5);
      }

      select{
        margin: 0;
        text-align: center;
      }
    }

    ul{
      list-style-type: none;
      padding: 0;

      a.active{
        color: $school_bus_yellow;
      }

      a{
        color:$white;
        text-decoration: none;
        li{
          padding: 10px 20px 10px 5% ;
          font-weight: 900;
        }
      }

      a.btn li{
        background-image: $grubbie_gradient;
      }
    }
  }

  .right-main{
    float: right;

    .top-options{
      text-align: center;
    }

    .top-actions{


      .select{
        color:rgba(255,255,255,0.9);
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      input[type="checkbox"]{
        background: transparent;
      }


    }

    .main-section{
      background: rgba(0,0,0,0.5);
      border-radius: 15px;


      @media only screen and (max-width: 576px) {
        .cont{
          min-width: auto !important;
        }
      }
      .cont{
        min-width: 600px;

        .headers{
          padding: 10px 25px;
          font-weight: 700;
        }

        .body .row.xs{
          display: none;
        }

        @media only screen and (max-width: 576px) {

          .headers{
            display: none;
          }

          .body .row.lg{
            display: none;
          }

          .body .row.xs{
            display: flex;

            .data{
              div{
                margin: 0 0 5px;
              }
              .actions{
                margin-top:10px;
              }
            }

          }

        }
        .body{
          padding:10px;

          .list{
            padding:10px 0;
            cursor: pointer;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .hv{
              opacity: 0;
              transition: opacity 0.4s;
              text-align: center
            }
          }

          .list:hover{
            background-color: rgba(255,255,255,0.1);
            .hv{
              opacity: 1;
            }
          }
        }
      }

    }
  }
}

.pull-left{
  float: left;
}

.pull-right{
  float:right;
}

form.no-margin{
  margin:0 !important;
}

//pagination
ul.navy-pagination{
  li{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: $white;
    a{
      text-decoration: none;
      font-size: 1em;
      font-weight: 800;
      color: $black;
      display: block;
      margin-top: 4px;
    }
  }
  li.active{
    background: $grubbie_gradient;
    a{
      color:$white;
    }
  }
}

.notfound {
  margin:20px;
  text-align: center
}

/* pagination */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  float: right;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  cursor: pointer;
  color: $white;
  text-decoration: none;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  border: 1px solid $sweet-brown;
  color:$sweet-brown;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  cursor: not-allowed;
}
